/* Missionlist CSS*/
.missionlist,
.missionLoad{
    font-family: sans-serif;
    font-size: 16px;
    margin: 10px auto;
    width:20%;
  }
  .mission-header{
    font-size: 18px;
    text-decoration: underline;
    margin: 5px 10px 10px 10px;
    text-align: center;
    font-weight: bold;
  }
  .missionlist ul{
    padding: 0;
    margin: 0;
    border:2px solid gray;
    border-radius: 5px;
    background-color: #ccc;
  }
  .missionlist li{
    border-left:2px solid #fff;
    border-right:2px solid #fff;
    border-top:2px solid #fff;
    list-style-type: none;
    text-align: left;
    padding: 10px 15px;
  }
  .missionlist li:last-child{
    border-bottom: 2px solid #fff;
  }
  .missionlist li span.mission-number{
    color: #000;
    margin-right: 10px;
  }
  .missionlist li span.mission-name{
    color: #000;
    font-weight: bold;
  }
  .missionlist li span.mission-count{
    color: #000;
    margin-left: 10px;
  }
  .missionLoad{
    font-weight: bold;
  }